.form{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;

}

#bread{
    display: flex;
}
.container{
    border: none;
    height: 200px;
    margin-left:50px
}
.ima{
width: 100px; 
   position: relative;
   border: none;
   border-radius: 5px ;

}
    
    
